travelontip-systemapi/src/main/mule/Global/retrive-routesandschedules-system.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrive-routesandschedules-system-main">
        <http:listener config-ref="retrive-routesandschedules-system-httpListenerConfig" path="/api/*" >
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrive-routesandschedules-system-config"/>
		<error-handler ref="Error_HandlerError_Handler">
            
        </error-handler>
    </flow>
    
	<sub-flow name="retrive-routesandschedules-systemSub_Flow" doc:id="1082ee4c-6ace-49fe-a064-e4dac979e2d9" >
		<ee:transform doc:name="Storing header attributes" doc:id="7678e95a-de1f-4b62-a5dd-c9cb90daad13" >
			<ee:variables >
				<ee:set-variable variableName="transportType" ><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany" ><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.transactionId ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrive-routesandschedules-systemSub_Flow1" doc:id="c0f7959f-7285-4551-a94a-c9acec13ce5d" >
		<ee:transform doc:name="Storing header attributes" doc:id="62f16476-7c61-4739-8c3c-7d980070c329" >
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.transactionId ]]></ee:set-variable>
				<ee:set-variable variableName="transportType" ><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany" ><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrive-routesandschedules-system-config" doc:id="f385bec8-b1dc-4408-b653-140cf29b18ca" >
		<flow-ref doc:name="Flow Reference" doc:id="eafa0886-6a56-41e9-8d25-54aacc6af4df" name="retrive-routesandschedules-systemSub_Flow" />
		<logger level="INFO" doc:name="Impl flow started" doc:id="507155ed-d1ac-494f-ab42-4d241502c2b4" message="Impl flow started"/>
		<flow-ref doc:name="Calling Imp flow" doc:id="9b9ad820-98f2-491a-9faa-5b7c49fb132f" name="travelOnTrip-Routes-ImplSub_Flow" />
		<logger level="INFO" doc:name="Impl flow ended" doc:id="73336f35-1187-4ada-8fb6-cb92663c1be0" message="Impl flow ended" />
	</flow>
	<flow name="get:\(transportType)\(transportCompany)\schedules:retrive-routesandschedules-system-config" doc:id="e7f4e39a-6577-47eb-9ea0-66cd36875056" >
		<flow-ref doc:name="Flow Reference" doc:id="d27d5806-679b-43bb-9ee6-b0e9ed7bd7f1" name="retrive-routesandschedules-systemSub_Flow1" />
		<ee:transform doc:name="Impl flow started" doc:id="9379ec5c-6104-46d0-9ea9-beb25b622135" >
			<ee:variables >
				<ee:set-variable variableName="transportType" ><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany" ><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Calling Impl flow" doc:id="3c6a0d38-808b-442d-b962-d4b95365b4b3" name="travelOnTrip-Routes-ImplSub_Flow" />
		<logger level="INFO" doc:name="Impl flow ended" doc:id="b2c1d378-80f8-4e9c-9ac1-2e1c2bb589de" message="get:\(transportType)\(transportCompany)\schedules:retrive-routesandschedules-system-config" />
	</flow>
</mule>
